<%- include('partials/head') -%>
<body>
    <div class="row">
        <div class="col-sm-12">
            <div>
                <h1 style="text-align: center; ">The Maple</h1>
            </div>
            <br>
            <div style="text-align: center;">
                <img id="pic" src="/resProfile.png">
            </div>
            <br>
            <div class="button" style="text-align: center;">
                <a href="/login" class="btn btn-light btn-lg" role="button">Kitchen Chef</a>
            </div>
            <br>
            <div class="button" style="text-align: center;">
                <a href="/table" class="btn btn-light btn-lg" role="button">Customer</a>
            </div>
        </div>
    </div>
</body>
</html>