<%- include('partials/head') -%>
<body>
    <div style="text-align: center;" class="container" >
        <div class="row">
                <div  >
                    <img id="pic" src="/chef.jpg">
                </div>
                <div >
                    <h1>Kitchen Login</h1>
                </div>
                <div>
                    <form action="">
                        <label style="color: black;" for="email">Email:</label><br>
                        <input type="email" id="email" name="email">
                        <br>
                        <label style="color: black;"for="password">Password:</label><br>
                        <input type="password" id="password" name="password">
                      </form>
                </div>
                <div class="button" style="text-align: center; margin-top: 10px;">
                    <a href="/sign_up" class="btn btn-light" role="button">Sign Up</a>
                    <a href="/login" class="btn btn-light" role="button">Sign In</a>
                </div>
        </div>
    </div>
</body>
</html>