<%- include('partials/head') -%>
<body>
    <div style="text-align: center;" class="container" >
        <div class="row">
                <div  >
                    <img id="pic" src="/chef.jpg">
                </div>
                <div >
                    <h1>Kitchen Login</h1>
                    
                </div>
                <div>
                    <% if (messages) { %>
                        <p><%= messages.error %></p>
                        <% } %>
                    <form action="/login" method="POST">
                        <label style="color: black; font-weight: bold;" for="email">Email:</label><br>
                        <input type="email" id="email" name="email" placeholder="ex. abcd@hotmail.com">
                        <br>
                        <label style="color: black; font-weight: bold;"for="password">Password:</label><br>
                        <input type="password" id="password" name="password" placeholder="******"> <br>
                        <button style="margin-top: 15px;" class="btn btn-light" role="button">SIGN IN</button>
                        <a href="/sign_up" style="margin-top: 15px;" class="btn btn-light" role="button">SIGN UP</a>
                      </form>
                </div>
        </div>
    </div>
</body>
</html>